<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.lsfly.bas.dao.system.ext.ExtSysRoleKeyMapper">

    <select id="getAllKeyByRole" resultType="com.lsfly.bas.model.system.SysKey">
        select
        sk.key_code
        from sys_key sk
        WHERE sk.is_delete_!='1'
        <if test="roleList != null and roleList.size >0">
            and sk.id in(select menu_id from sys_role_key where is_delete_!='1'
            and role_id in
            <foreach item="item" index="index" collection="roleList"
                     open="(" separator="," close=")">
                #{item}
            </foreach>
            )
        </if>
    </select>
    <insert id="insertList" parameterType="java.util.List">
      insert into sys_role_key
      (
      id,
      role_id,
      menu_id,
      is_delete_,
      version_,
      create_by_,
      create_time_
      )
      value
        <foreach collection="list" item="item" index="index" separator=",">
            (
            #{item.id,jdbcType=VARCHAR},
            #{item.roleId,jdbcType=VARCHAR},
            #{item.menuId,jdbcType=VARCHAR},
            #{item.isDelete,jdbcType=CHAR},
            #{item.version,jdbcType=BIGINT},
            #{item.createBy,jdbcType=VARCHAR},
            #{item.createTime,jdbcType=TIMESTAMP}
            )
        </foreach>


  </insert>
</mapper>